/* body{
    background-color: lightgray;
    background-image: url('../images/01-02-02_background-img.jpg');
    background-size: cover;
} */

body{
    background-color: lightgray;
    background-image: url('/assets/images/01-02-02_background-img.jpg');
    background-size: cover;
    
}
h2{
    color: orangered;
}
p{
    color: darkblue;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-style: bold;
}